body {
  background: url("colorful-bg.jpg") no-repeat center fixed;
  background-size: cover;
  /* display: flex; */
  flex-direction: column;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

.col-6 {
  background-color: rgb(212, 166, 174);
  margin: 1rem auto 1rem;
  max-width: 60%;
  padding: 0 1rem 1rem;
  -webkit-border-radius: .5rem;
}

/************************/
/*   Navbar in Header   */
/************************/

.navbar {
  background-color: #9672cc;
}

.navbar-dark .navbar-toggler {
  border-color: hotpink;
  color: hotpink;
  padding: 0;
}

#current {
  background-color: hotpink;
  color: black;
  font-weight: 700;
  -webkit-border-radius: .5rem;
}

#nav-iMage {
  font-weight: 2rem;
  height: 2rem;
}

/************************/
/*      Index Page      */
/************************/

article > p {
  color: azure;
  font-family: 'Yatra One', cursive;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-top: 0;
  text-align: justify;
}

h1 {
  color: azure;
  font-family: 'Yatra One', cursive;
  padding-top: 1rem;
}

hr {
  border: 1px solid azure;
}

#mchel-img {
  float: left;
  margin: .4rem 1.5rem 0 0;
  width: 300px;
}

/************************/
/*    Portfolio Page    */
/************************/

.card-img-top {
  border-radius: .5rem .5rem 0 0;
}

.card-text > p {
  color: #212529;
}

.grid-container {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: auto auto;
  padding: 1rem 0 0;
  -webkit-border-radius: .5rem;
}
.grid-item {
  background-color: whitesmoke;
  font-size: 16px;
  padding: 0;
  -webkit-border-radius: .5rem;
}

/* trying to figure out how to use gradient color */

/************************/
/*     Contact Page     */
/************************/

label {
  color: black;
  font-weight: 700;
}

.btn {
  background-color: black;
  color: azure;
  font-weight: bolder;
}

/************************/
/*        Footer        */
/************************/

footer {
  background-color: #261a36;
  bottom: 0;
  clear: both;
  color: azure;
  font-size: 15px;
  left: 0;
  /* padding: 1rem 1rem; */
  text-align: center;
  width: 100%;
}

li, a {
  color: hotpink;
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 .5rem;
  /* padding: 0 .5rem; */
}

.col-md-4 {
  width: 100%;
}

.fa {
  color: azure;
  font-size: 20px;
}

.flex-container {
  /* border: 1px solid hotpink; */
  display: flex;
  justify-content: space-around;
  margin-bottom: .5rem;
  padding: 0 .5rem;
  width: 100%;
}

.flex-container > div {
  /* border: 1px solid hotpink; */
  margin: 5px;
  /* padding: 1rem; */
  text-align: center;
}

footer > hr {
  border: 1px solid blue;
}

.footer-about.col-md-4 {
  font-family: 'Libre Barcode 128 Text';
  font-size: 50px;
  text-align: left;
}

.footer-social.col-md-4 {
  text-align: right;
}

.socialMedia {
  display: inline-block;
  justify-content: space-around;
  padding: 0 .5rem;
}

/************************/
/*        @Media        */
/************************/

@media screen and (max-width: 768px) {
  label {
    color: black;
    font-weight: 700;
  }

  .btn {
    background-color: #007bff;
    color: black;
    font-weight: bolder;
  }

  .col-6 {
    background-color: rgb(57, 114, 79);
    max-width: 100%;
  }

  .flex-container {
    flex-direction: column;
    width: 100%;
    padding-left: 7px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
   }

  .flex-container > div {
    width: 100%;
  }

  .footer-about.col-md-4 {
    text-align: center;
  }

  .footer-social.col-md-4 {
    text-align: center;
  }

}

@media screen and (max-width: 480px) {
  label {
    color: hotpink;
    font-weight: 700;
  }

  .btn {
    background-color: hotpink;
    color: black;
    font-weight: bolder;
  }

  .col-6 {
    background-color: rgb(75, 69, 69);
  }

  .grid-container {
    grid-template-columns: auto;
  }
}

