body {
  background: url("colorful-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
}

html {
  -webkit-tap-highlight-color: pink;
}

.col-lg-6,
.col-lg-4 {
  background-color: rgb(212, 166, 174);
  margin: 1rem auto;
  padding: 0 1rem 1rem;
  -webkit-border-radius: .5rem;
}

/************************/
/*   Navbar in Header   */
/************************/

.navbar {
  background-color: #563d7c;
  width: 100%;
}

#current {
  background-color: hotpink;
  color: black;
  font-weight: 700;
  -webkit-border-radius: .5rem;
}

/* Can the below done in CSS and not HTML */
/* #collapsibleNavbar {
 justify-content: end;
} */

#nav-iMage {
  height: 2rem;
  font-weight: 2rem;
}

.navbar-dark .navbar-toggler {
  color: hotpink;
  border-color: hotpink;
  padding: 0;
}

/************************/
/*        Footer        */
/************************/

footer {
  background-color: #563d7c;
  color: azure;
  font-size: 30px;
  padding: .5rem 1rem;
  text-align: center;
}

.fa {
  color: azure;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 0 .5rem;
}

.socialMedia {
  display: inline-block;
  font-size: 30px;
  padding: 0 .5rem;
}

/************************/
/*      Index Page      */
/************************/

hr {
  border: 1px solid azure;
  margin-bottom: 1rem;
}

h1, article p {
  color: azure;
  padding-top: .5rem;
}

article p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 1rem;
  padding-top: 0;
}

#mchel-img {
  float: left;
  margin: .4rem 1.5rem 0 0;
  width: 310px;
  
}

/************************/
/*    Portfolio Page    */
/************************/

.card {
  margin: 1rem;
}

.col {
  padding: 0;
}

/* trying to figure out how to use gradient color */

/************************/
/*     Contact Page     */
/************************/

label {
  font-weight: 700;
  color: black;
}

.btn {
  background-color: black;
  color: azure;
  font-weight: bolder;
}

/************************/
/*        @Media        */
/************************/

@media screen and (max-width: 768px) {
  .col-lg-6,
  .col-lg-4 {
    background-color: rgb(57, 114, 79);
    /* display: flex; */
  }

  .btn {
    background-color: #007bff;
    color: black;
    font-weight: bolder;
  }

  label {
    font-weight: 700;
    color: black;
  }
}

@media screen and (max-width: 480px) {
  .col-lg-6,
  .col-lg-4 {
    background-color: rgb(75, 69, 69);
  }

  .btn {
    background-color: hotpink;
    color: black;
    font-weight: bolder;
  }

  label {
    font-weight: 700;
    color: hotpink;
  }
}

