body {
  background: url("watercolour2.jpg") no-repeat center fixed;
  background-size: cover;
  line-height: 1;
}

main {
  margin-top: 3.625rem;
}

.col {
  background-color: rgb(212, 166, 174);
  margin: 1rem auto 2rem;
  padding: 0 1rem 0 1rem;
  -webkit-border-radius: .3rem;
}

.navbar-brand {
  color: azure;
  font-size: 1.3rem;
  margin: 0 auto;
}

/************************/
/*      Navbar Top      */
/************************/

.navbar {
  background-color: #9672cc;
}

.navbar-dark .navbar-toggler {
  border-color: hotpink;
  color: hotpink;
  padding: 0;
}

#current {
  background-color: hotpink;
  color: black;
  font-weight: 700;
  -webkit-border-radius: .3rem;
}

#nav-image {
  height: 2rem;
}

#nav-top.navbar-brand {
  float: left;
  margin: 0;
  width: 300px;
}

/************************/
/*      Index Page      */
/************************/

p {
  color: azure;
  font-size: 20px;
  margin-bottom: 1rem;
  padding-top: 0;
  text-align: justify;
}

h1 {
  color: azure;
  padding-top: 1rem;
}

hr {
  border: 1px solid azure;
}

#aboutMe-img {
    margin: .4rem 1.2rem 0 .0;
}

/************************/
/*    Portfolio Page    */
/************************/

p.card-text {
  color: #212529;
  font-size: 1rem;
}

.card {
  background: transparent;
 -webkit-border-radius: .3rem;
}

.card-deck {
  margin-bottom: 1rem;
}

.card-body {
  background: linear-gradient(to bottom right, #33ccff 15%, #ff99cc 60%);
 -webkit-border-radius: 0 0 .3rem .3rem;
}

.card-img-top {
  border-radius: .3rem .3rem 0 0;
}

/************************/
/*     Contact Page     */
/************************/

label {
  color: black;
  font-weight: 700;
}

.btn {
  background-color: black;
  color: azure;
  font-weight: bolder;
}

/************************/
/*      Footer Nav      */
/************************/

.navbar-brand-bottom {
  color: azure;
  margin: auto;
}

#nav-bottom {
  background-color: #2b213b;
  font-size: 1rem;
}

/************************/
/*        @Media        */
/************************/

@media screen and (max-width: 768px) {
  label {
    color: black;
    font-weight: 700;
  }

  .btn {
    background-color: #007bff;
    color: black;
    font-weight: bolder;
  }

  .col {
    background-color: rgb(57, 114, 79);
    width: 100%;
  }

@media screen and (max-width: 480px) {
  label {
    color: hotpink;
    font-weight: 700;
  }

  #aboutMe-img {
    float: none;
    margin: .4rem 1.2rem 1rem .0;
  }

  .btn {
    background-color: hotpink;
    color: black;
    font-weight: bolder;
  }

  .col {
    background-color: rgb(75, 69, 69);
  }
}